{% extends "auctions/layout.html" %}
{% block body %}
    <div class="sub">
        <h2>Category: {{ category.category_name }}</h2>
    </div>
    <div class="main" id="category">
        {% if auction_listing_category %}    
            {% for auction_category in auction_listing_category %}
                <div id="listing_auction" >
                    <div id="auction_image">
                        <a href="{% url 'auctions_app:listing_page' auction_category.id %}">
                            <!-- <img src="/media/{{ auction_category.image }}"  height="200px"> -->
                            <img src="/media/{{ auction_category.image }}" >
                        </a>
                    </div>
                    <div id="order-column">
                        <div id="auction_name">
                            <a href="{% url 'auctions_app:listing_page' auction_category.id %}">
                                <!-- <h2> -->
                                    {{ auction_category.name }}
                                <!-- </h2> -->
                            </a>  
                        </div> 
                        <div id="auction_listing_data">
                            <div id="auction_price">
                                <h3>
                                    {% if auction_category.auction_active %}
                                        ${{ auction_category.initial_price }}
                                    {% else %}
                                        Sold for ${{ auction_category.initial_price }}
                                    {% endif %}
                                </h3>
                            </div>
                            <div id="auction_description"> 
                                <div id="auction_description_block">
                                    <p>{{ auction_category.description }}</p>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
                {% if last_auction_id != auction_category.id %}
                    <div class="borders"></div>
                {% endif %}
            {% endfor %}
        {%else %}
        <div id="listing_auction" >
            <div id="auction_name">
                There is no auction in this category.
            </div> 
        </div>
        {% endif %}
    </div>
{% endblock %}