{% extends "auctions/layout.html" %}
<!-- {% load static %} -->

{% block body %}


<div class="sub">
    <h2>New Article</h2>
</div>
<div class="main">
    <!-- Agregado para las imagenes: enctype="multipart/form-data" -->
    <form action="{% url 'auctions_app:create_listing' %}"  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="auction_name">Article</label>
            <input autofocus class="form-control" type="text" name="auction_name" placeholder=""> 
            <label for="description">Description</label>
            <textarea class="form-control" name="description" placeholder="" maxlength="150"></textarea>
            <label for="initial_price">Starting price</label>
            <input class="form-control" type="number" name="initial_price" placeholder="">
            <label for="auction_category">Category</label></br>
            <select name="auction_category" id="auction_category" multiple 
                    multiselect-search="true" 
                    multiselect-max-items="3"
                    multiselect-hide-x = "false">
                {% for all_categorie in all_categories %}
                    <option value="{{ all_categorie.id }}">{{ all_categorie.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <!--input  type="file" name="image" placeholder="Image"-->

            <label for="image">Image</label></br>
            <button type="button" onclick="abrir('image')">Choose an image</button>
            <input type="file" multiple id="image" name="image" onchange="contar(this, 'glosaArchivos')" style="display: none">
            <span id="glosaArchivos">None image selected</span>


        </div>
        <input class="btn btn-primary" type="submit" value="Save and add another" name="_save">
        <input class="btn btn-primary" type="submit" value="Save" name="_save">
    </form>

</div>
{% endblock %}