{% extends "auctions/layout.html" %}
{% block body %}
    <div class="main" id="create_comment">
        {% if err %}
            <h4>Error </h4>
            <p>{{ err }}</p>
            <form action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit"  value="Back" >
                </div>
            </form>
        {% else %}
            <form class="form" action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <div class="to-log-form-group">
                    <h5>New question added to {{ auction_data.name }}: </h5>
                    <p>{{ comment_added }}</p>
                    </br>
                </div>
                <input class="btn btn-primary" type="submit"  value="Back" >
            </form>
        {% endif %}
    </div>
{% endblock %}