{% extends "auctions/layout.html" %}
{% block body %}
    <div class="main" id="create_answer">
        {% if err %}
            <h3>Error </h3>
            <p>{{ err }}</p>
            <form action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit"  value="Back" >
                </div>
            </form>
        {% else %}
            <h4>Your answer has been added to {{ auction_data.name }} </h4>
            <form action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <div class="form-group">
                    <h5>Question: </h5> {{ to_question }}
                    <h5>New answer added: </h5> <p>{{ answer_added }}</p>
                </div>
                <input class="btn btn-primary" type="submit"  value="Back" >
            </form>
        {% endif %}
    </div>
{% endblock %}