{% extends "auctions/layout.html" %}

{% block body %}
    {% if err %}
    <div class="main" id="create_comment">
        <h2>Error </h2>
        {{ err }}
        <form action="../listing_page/{{ auction_data.id }}"  method="GET" enctype="multipart/form-data">
            <div class="form-group">
                <input class="btn btn-primary" type="submit"  value="Back" >
            </div>
        </form>
    {% else %}
        <div class="sub">
            <h2>Your comment has been added to {{ auction_data.name }} </h2>
        </div>
        <div class="main" id="create_comment">

        <form class="form" action="../listing_page/{{ auction_data.id }}"  method="GET" enctype="multipart/form-data">
            <div class="to-log-form-group">
                <h5>New comment: </h5>
                {{ comment_added }}
                </br>
            </div>

                <input class="btn btn-primary" type="submit"  value="Back" >
        </form>
    {% endif %}
</div>
{% endblock %}