{% extends "auctions/layout.html" %}
{% block body %}
    <div class="main" id="create_bid">
        {% if err %}
            <h4>Error </h4>
            <p>{{ err }}</p>
            <form action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit"  value="Back" >
                </div>
            </form>
        {% else %}
            <h5>Your bid has been added to {{ auction_data.name }} </h5>
            <form class="form" action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                <p>New price: ${{ bid_added }}</p>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit"  value="Back" >
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}