{% extends "auctions/layout.html" %}
{% block body %}
    <div class="sub">
        <h2>Active Listings</h2>
    </div>
    <div class="main">
        {% for auction in all_auctions %}
            <div class="listing_auction" >
                <div id="auction_image">
                    <a href="listing_page/{{ auction.id }}" >
                        <img src="{{ MEDIA_URL }}/media/{{ auction.image }}"  >
                    </a>
                </div>
                <div id="order-column">
                    <div id="auction_name">
                        <a href="../listing_page/{{ auction.id }}" >
                            {{ auction.name }}
                        </a>   
                    </div>
                    <div id="auction_listing_data">                
                        <div id="auction_price"> 
                            {% if auction.auction_active %}
                                ${{ auction.initial_price }}
                            {% else %}
                                Sold for ${{ auction.initial_price }}
                            {% endif %}
                        </div>              
                        <div id="auction_description"> 
                            <div id="auction_description_block">
                                <p>{{ auction.description }}</p>
                            </div>
                        </div>
                        <div id="auction_category">
                            Category:     
                            {% for category in auction.auction_category.all %}   
                                <a href="../category/{{ category.id }}">
                                    {{ category.category_name }}
                                </a>
                            {% endfor %}
                        </div>             
                    </div>
                </div>
            </div>
            {% if last_auction_id != auction.id %}
                <div class="borders"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}