{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="#">
        <script src="{% static 'auctions/inbox.js' %}"></script>
        <script src="{% static 'auctions/react.jsx' %}" type="text/babel"></script>
        <script src="{% static 'auctions/multiselect-dropdown.js' %}" ></script>
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{MEDIA_URL}}/media/deremate.png" type="image/x-icon" />
        <meta name="description" content="Design of an eBay-like e-commerce auction site.">
        <link rel="canonical" href="https://rodrigojmayer.AUCTIONS---URL-----------------------------">
        <link rel="favicon" href="{{MEDIA_URL}}/media/deremate.png">
        <link rel="apple-touch-icon" href="{{MEDIA_URL}}/media/deremate.png">
        <meta name="theme-color" content="#FFDB15">
        <meta name="twitter:card" content="summary">
        <meta property="og:type" content="website">
        <meta property="og:title" name="twitter:title" content="Auctionss RJM">
        <meta property="og:image" name="twitter:image"
            content="static ">
        <meta property="og:url" name="twitter:url" content="https://rodrigojmayer.AUCTIONS---URL-----------------------------">
        <meta property="og:description" name="twitter:description"
            content="Design of an eBay-like e-commerce auction site.">

    </head>
    <body id="top_page">
        <div id="header" >
            <div class="navbar">
                {% for result in item.results %}
                        {{result}}
                {% endfor %}
                <a href="{% url 'auctions_app:index' %}" >
                    <div class="nav-item nav-logo" >
                        <!-- <img id="logo" src="/media/Group 3.png" alt="Logo"> -->
                        <img id="logo" src="{{ MEDIA_URL }}/media/Group 3.png" alt="Logo">
                    </div>  
                </a>
                <button class="menu-btn">
                    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M5.33337 8H26.6667V10.6667H5.33337V8ZM5.33337 14.6667H26.6667V17.3333H5.33337V14.6667ZM5.33337 21.3333H26.6667V24H5.33337V21.3333Z" />
                      </svg>
                      <svg class="none" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M21.1987 8L15.5413 13.656L9.88533 8L8 9.88533L13.656 15.5413L8 21.1973L9.88533 23.0827L15.5413 17.4267L21.1987 23.0827L23.084 21.1973L17.428 15.5413L23.084 9.88533L21.1987 8Z" />
                      </svg>
                </button>
                <div class="menu">
                    {% if user.is_authenticated %}
                        <div class="nav-item" id="nav3">                
                            <a class="nav-link" href="{% url 'auctions_app:create_listing' %}">Post Item</a>
                        </div>
                        <div class="nav-item" id="id_categories">                
                            <a class="nav-link" id="link_categories" href="{% url 'auctions_app:categories' %}" >Categories</a>
                            <a class="nav-link" id="dropdown_categories"  href="javascript:void(0);" >Categories</a>
                            <div id="myDropdownCategories" >
                                <ul>

                                </ul>
                            </div>
                        </div>
                        <div class="nav-item" id="nav2">                
                            <a class="nav-link" href="{% url 'auctions_app:watch_list' %}">My Watch List</a>
                        </div>

                    <div class="nav-item authentication" >
                        <a id="user-logged-link" href="{% url 'auctions_app:logout' %}">
                            <strong> Log out {{ user.username }}</strong>
                        </a>
                        <div id="user-logged-dropdown">
                            <strong>{{ user.username }}</strong>
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 2.66666C8.77202 2.66666 2.66669 8.772 2.66669 16C2.66669 23.228 8.77202 29.3333 16 29.3333C23.228 29.3333 29.3334 23.228 29.3334 16C29.3334 8.772 23.228 2.66666 16 2.66666ZM16 9.33333C18.3027 9.33333 20 11.0293 20 13.3333C20 15.6373 18.3027 17.3333 16 17.3333C13.6987 17.3333 12 15.6373 12 13.3333C12 11.0293 13.6987 9.33333 16 9.33333ZM9.19202 22.3627C10.388 20.6027 12.3827 19.4293 14.6667 19.4293H17.3334C19.6187 19.4293 21.612 20.6027 22.808 22.3627C21.104 24.1867 18.6867 25.3333 16 25.3333C13.3134 25.3333 10.896 24.1867 9.19202 22.3627Z" fill="black"/>
                            </svg>
                            <div id="myDropdownUser" >
                                <ul>
                                    <a id="log_out" href="{% url 'auctions_app:logout' %}">
                                        <li>
                                            Log out
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav-item only_1024" > 
                    </div>
                    <div class="nav-item only_1024" > 
                    </div>
                    <div class="nav-item only_1024" > 
                    </div>
                    <div class="nav-item" id="nav5">
                        <a class="nav-link" href="{% url 'auctions_app:login' %}">Log In</a>
                    </div>

                    <div class="nav-item" id="nav6">

                        <a class="nav-link" href="{% url 'auctions_app:register' %}">Register</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="content-wrap">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    <footer > 
        <div id="div_footer">
            <!-- © 2021 Copyright: -->
            <!-- <a  href="{% url 'auctions_app:index' %}">commerceauctions.com</a> -->
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a  href="https://rodrigojmayer.github.io/portfolio" target="_blank"> @rodrigojmayer</a></p>
        </div>
    </footer>
</html>