{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">
        <script src="{% static 'auctions/inbox.js' %}"></script>
        <script src="{% static 'auctions/multiselect-dropdown.js' %}" ></script>
    </head>
    <body>
        <div class="nav">
            <div class="navbar">
                <!-- <h1>AUCTIONS</h1> -->
                <!-- <img src="/media/Logo (1).png" alt="Logo"> -->
                <!-- <img src="/media/Group 2.png" alt="Logo"> -->
                
                {% for result in item.results %}
                        {{result}}
                {% endfor %}
                <a href="{% url 'auctions_app:index' %}" >
                    <div class="nav-item" >
                        <img src="/media/Group 3.png" alt="Logo">
                    </div>  
                </a>
            <!-- <div class="nav-item" id="nav1"> -->
                    <!-- <a class="nav-link" href="{% url 'auctions_app:index' %}">Active Listings</a> -->
                <!-- </div> -->
                {% if user.is_authenticated %}
                    <div class="nav-item" id="nav2">                
                        <a class="nav-link" href="{% url 'auctions_app:watch_list' %}">My Watch List</a>
                    </div>
                    <div class="nav-item" id="nav3">                
                        <a class="nav-link" href="{% url 'auctions_app:create_listing' %}">Create Auction Listing</a>
                    </div>
                    <!-- <form action="">
                        {% csrf_token %}
                        <button onclick="charge_categories()"></button>
                    </form> -->
                    <div class="nav-item" id="id_categories">                
                        <a class="nav-link" href="{% url 'auctions_app:categories' %}">Categories</a>
                        <div id="myDropdownCategories" >
                            <!-- <a id="log_out" href="{% url 'auctions_app:login' %}">Log out</a> -->
                            <!-- <a id="log_out" href="{% url 'auctions_app:logout' %}">{{pepetest}}</a> -->
                            <ul>

                            </ul>
                        </div>
                    </div>

                    <!--div class="nav-item" id="nav6">                
                        <a class="nav-link" href="{% url 'auctions_app:create_category' %}">Create Category</a>
                    </div-->
                    <!-- <div class="nav-item" id="nav5"> -->
                        <!-- <a class="nav-link" href="{% url 'auctions_app:logout' %}">Log Out</a> -->
                    <!-- </div> -->
                {% else %}
                    <!-- <div class="nav-item" id="nav5">
                        <a class="nav-link" href="{% url 'auctions_app:login' %}">Log In</a>
                    </div>
                    <div class="nav-item" id="nav6">
                        <a class="nav-link" href="{% url 'auctions_app:register' %}">Register</a>
                    </div> -->
                {% endif %}

                {% if user.is_authenticated %}
                <div class="nav-item authentication" >
                    <div id="user-logged">
                        <strong>{{ user.username }}</strong>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2.66666C8.77202 2.66666 2.66669 8.772 2.66669 16C2.66669 23.228 8.77202 29.3333 16 29.3333C23.228 29.3333 29.3334 23.228 29.3334 16C29.3334 8.772 23.228 2.66666 16 2.66666ZM16 9.33333C18.3027 9.33333 20 11.0293 20 13.3333C20 15.6373 18.3027 17.3333 16 17.3333C13.6987 17.3333 12 15.6373 12 13.3333C12 11.0293 13.6987 9.33333 16 9.33333ZM9.19202 22.3627C10.388 20.6027 12.3827 19.4293 14.6667 19.4293H17.3334C19.6187 19.4293 21.612 20.6027 22.808 22.3627C21.104 24.1867 18.6867 25.3333 16 25.3333C13.3134 25.3333 10.896 24.1867 9.19202 22.3627Z" fill="black"/>
                        </svg>
                        <div id="myDropdownUser" >
                            <ul>
                                <!-- <a id="log_out" href="{% url 'auctions_app:login' %}">Log out</a> -->
                                <a id="log_out" href="{% url 'auctions_app:logout' %}">
                                    <li>
                                        Log out
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                {% else %}
                    <!-- Not signed in. -->
                <div class="nav-item" id="nav5">
                    <a class="nav-link" href="{% url 'auctions_app:login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'auctions_app:register' %}">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- </br> -->
        <div id="content-wrap">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    <footer > 
        <div>
            © 2021 Copyright:
            <a  href="{% url 'auctions_app:index' %}">commerceauctions.com</a>
        </div>
    </footer>
</html>
