{% extends "auctions/layout.html" %}

{% block body %}

<div class="sub">
    <h2>Article</h2>
</div>

    <div class="main">
        {% if err %}
        <div class="window-notice" id="window-notice">
            <div class="content">
                <div class="content-text">{{ err }}</div>
                <div class="content-buttons"><a href="{% url 'auctions_app:listing_page' auction=auction_data.id %}" id="close-button">Ok</a></div>
            </div>
        </div>
        {% endif %}

        {% csrf_token %}
        <div id="listing_auction_name">{{ auction_data.name }}</div>
        <div id="auction_data">
            <div class="img-magnifier-container">
                <div id="article_image"  onmouseover="magnify('myimage', 2)" onmouseout="close_magnify()" >
                    <div id="id_glass" class="img-magnifier-glass hide"></div>
                    <img id="myimage" src="/media/{{ auction_data.image }}" height="200px" >
                </div>
            </div>
            
            <div id="listing_auction_order_column">
                <label class="container">
                    {% if user_logged.id %}
                        <button onclick="watch_list_change('{{auction_data.id}}')" class="btn btn-primary" id={{in_watchlist}} name="_place_bid"></button>
                    {% else %}
                        <input class="btn btn-primary myDIV" id="add_to_watchlist_disabled" disabled   value="Add to Watchlist" name="_place_bid">
                        <div id="add_watchlist_warning" class="hide notlogged_warning">(You must log in to have a watchlist)</div>
                    {% endif %}
                </label>
                <div id="auction_price" value={{auction_data.initial_price}}>
                    <h4>Initial Price: ${{ auction_data.initial_price }}</h4> (Listed by {{auction_data.id_user}})
                </div>
                {% if auction_data.auction_active == 1 %}
                    {% if actual_bid %}     
                        <div id="bid_price" value={{actual_bid.price}}>
                            <h2>Best Bid: ${{ actual_bid.price }}</h2> (Bid by {{ actual_bid.id_user }})
                        </div>
                    {% else %}
                        <div id="bid_price" >
                            <h4>There are no bids yet</h4>
                        </div>
                    {% endif %}
                    {% if user_logged.id == auction_data.id_user.id %}
                        <form action="{% url 'auctions_app:listing_page' auction=auction_data.id  %}"  method="GET" enctype="multipart/form-data">
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" name="close_auction" value="Close auction" >
                            </div>
                        </form>
                    {% else %}
                        <form action="{% url 'auctions_app:create_bid'  %}"  method="GET" enctype="multipart/form-data">
                            <div class="form-group">
                                <input class="hide" value="{{ auction_data.id}}" name="auction_data" placeholder="Auction Data">
                                {% if user_logged.id %} 
                                    <input id="new_bid" class="form-control" type="number" name="new_bid" placeholder="New bid">
                                    <input  id="accept" class="btn btn-primary"  value="Place bid" >
                                {% else %}
                                    <input id="new_bid" class="form-control" type="number" name="new_bid" disabled placeholder="New bid">
                                    <input class="btn btn-primary myDIV"  id="place_bid_disabled" disabled value="Place bid" >
                                    <div id="add_bid_warning" class="hide notlogged_warning">
                                        (You must log in to place a bid)
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <div id="sold_price" >
                        {% if actual_bid.price %}
                            <h4>Sold for ${{ actual_bid.price }}</h4>
                            (Bid by {{ actual_bid.id_user }})
                        {% else %}
                            <h4>Unsold</h4>
                        {% endif %}
                    </div>
                    <h4>Auction list closed</h4>
                    {% if user_logged.id %}
                        {% if user_logged.id == actual_bid.id_user.id %}
                        <div class="form-group" id="auction_winner">  
                            <h3> You have won this auction!</h3>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div> 
        <div id="listing_page_description_category">
            <div id="listing_page_auction_description">
                <h5>Description: </h5>
                {{ auction_data.description }}
            </div>
            <div id="auction_category">
                <h5>
                    Category: 
                    {% for category in auction_data.auction_category.all %}
                        <a href="../../category/{{ category.id }}" >
                            {{ category.category_name }}
                        </a>
                    {% endfor %}
                </h5>
            </div> 
        </div>
        <div class="borders"></div>
        <div id="auction_comments">
            <h5>Questions and answers</h5>
            {% if comments %}
                {% for comment in comments %}
                    <div class="form-group" id="question-answer">  
                        <div id="question">
                            <b>Question: </b>    {{ comment.description }}
                        </div>
                        <div id="answer">
                            {% if comment.answer %}
                                    <b>Answer: </b>   {{ comment.answer }}
                            {% endif %}

                            {% if user_logged.id == auction_data.id_user.id %}
                                {% if comment.answer %}<!-- You can't answer the question because there is already an answer.   -->
                                {% else %}<!-- You can answer the question because you are the owner of the bid and there is no answer for this question yet.. -->
                                    <a href="#answer-input-{{comment.id}}" onclick="enable_answer(`{{comment.id}}`)" >Answer this question</a>
                                    <form action="{% url 'auctions_app:create_answer' id_comment=comment.id %}"  method="GET" enctype="multipart/form-data">
                                        <div class="form-group hide answer-forms" id="answer-form-{{comment.id}}">
                                            <textarea class="form-control "  id="answer-input-{{comment.id}}" name="new_answer" placeholder="New answer"></textarea>
                                            <input class="hide" value="{{auction_data.id}}" name="auction_data" placeholder="Auction Data">
                                            {% if user_logged.id %}
                                                <input class="btn btn-primary" type="submit" value="Add answer">
                                            {% else %}
                                            {% endif %}
                                        </div>
                                    </form>
                                {% endif %}
                            {% else %}<!-- You can't answer questions because you are not the owner of the bid. -->
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="form-group" >  
                    <b> No questions</b>
                </div>
            {% endif %}
            {% if user_logged.id != auction_data.id_user.id %}<!-- You can create questions. -->
                <form action="{% url 'auctions_app:create_comment'  %}"  method="GET" enctype="multipart/form-data">
                    <h5><a href="#question-input" onclick="enable_question()" >Make a question</a></h5>
                    <div class="form-group hide" id="question-form" >
                        <input class="hide" value="{{ auction_data.id}}" name="auction_data" placeholder="Auction Data">
                        {% if user_logged.id %}
                            <textarea class="form-control" id="question-input" type="text" name="new_comment" placeholder="New question"></textarea>
                            <input class="btn btn-primary" type="submit" value="Add question">
                        {% else %}
                            <textarea class="form-control" id="question-input" type="text" disabled name="new_comment" placeholder="New question"></textarea>
                            <input class="btn btn-primary myDIV"  id="add_comment_disabled" disabled value="Add comment">
                            <div id="comment_warning" class="hide warning_relocation notlogged_warning">
                                (You must log in to add a comment)
                            </div>
                        {% endif %}
                    </div>
                </form>
            {% else %}<!-- You can't create questions because you are the owner of the auction. -->
            {% endif %}
          
        </div>
    </div> 
    <div id="modal" value="listing_page" src="/media/{{ auction_data.image }}"> </div>

    <!-- <div id="modal_image" value="modal_image" ></div> -->
{% endblock %}