{% extends "auctions/layout.html" %}

{% block body %}

<div id="sub">
    <h2>Login</h2>
</div>

<div class="main" id="login">

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions_app:login' %}" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input autofocus class="form-control" type="text" name="username" placeholder="">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    <a href="{% url 'auctions_app:register' %}">Create account</a>

</div>
{% endblock %}