{% extends "auctions/layout.html" %}

{% block body %}

<div class="sub">
    <h2>My Watch List</h2>
</div>
<div class="main">

    {% if my_watch_list %}
        <div class="grid-container">        
            {% for my_watch in my_watch_list %}
                {% for auction in all_auctions %}
                    {% if auction.id == my_watch.id_auction.id %}
                        
 
                    <div class="grid-item" id="listing_watchlist" >
                    
                        <div id="auction_name">
                            <a href="../listing_page/{{ auction.id }}" >
                                {{ auction.name }}
                            </a>  
                        </div>  
                        <div id="auction_image">
                            <a href="../listing_page/{{ auction.id }}" >
                                <img src="/media/{{ auction.image }}"  height="200px">
                            </a>
                        </div>
                        <!-- <div id="auction_data"> -->
                            <div id="auction_price">
                                <b>
                                    {% if auction.auction_active %}
                                        ${{ auction.initial_price }}
                                    {% else %}
                                        Sold
                                    {% endif %}

                                </b>
                            </div>
                            <div id="auction_category">Category:     
                                {% for category in auction.auction_category.all %}   
                                    {{ category.category_name }}
                                    {{ category.index }}
                                {% endfor %}
                            </div>              
                        <!-- </div> -->
                    </div>


                    {% endif %}

                {% endfor %}

            {% endfor %}
        </div>
    {%else %}
    <div id="listing_auction" >
        <b>There is no auction in the watch list.</b> 
    </div>
    {% endif %}
   
</div>
{% endblock %}