/* *************** Custom Properties *************** */
:root {
  --first-color: #FFDB15;
  --first-alpha-color: rgba(255, 219, 21, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #0D00A5;
  --third-alpha-color: rgba(13, 0, 165, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-color-2: rgb(240, 240, 240);
  --gray-dark-color: rgb(190, 190, 190);
  --black-color: #000;
  --link: #509ee3;
  --link-hover: rgb(3, 87, 215, 1);
  --link-pressing: rgb(0, 65, 164, 1);
  --link-light: rgb(52, 131, 250, 0.50);
  --link-light-hover: rgb(190, 190, 190, 0.50);
  --link-light-pressing: rgb(190, 190, 190, 0.50);
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Roboto", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  --footer-height: 2rem;
  --services-card-separation: 0.5vw;
}

/* *************** Reset *************** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  /* overflow-y:hidden; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--gray-color-2);
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
}
body .sub {
  height: 4rem;
  padding-left: 10%;
}
body .sub h2 {
  padding-top: 0.75rem;
}
body #sub-not-logged {
  padding-left: 37%;
}

a {
  color: var(--link);
  transition: all 0.5s ease-out;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover);
}

a:active {
  color: var(--link-light-pressing);
}

h1 {
  margin: 0;
  font-size: 2.9rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

div {
  height: auto;
  word-wrap: break-word;
}

.btn {
  font-weight: bold;
  font-size: larger;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* *************** Components *************** */
.nav {
  /*background-color: #333;    */
  background-color: var(--first-color);
  padding-left: 3%;
  font-family: var(--font);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 111;
  /*margin-bottom: 200px;*/
  /*text-align: left;*/
}

.navbar {
  /*background-color: #333;    */
  font-family: var(--font);
  position: relative;
  top: 0;
  width: 95%;
  height: var(--header-height);
  /*margin-bottom: 200px;*/
  /*text-align: left;*/
}
.navbar #user-logged {
  position: relative;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
}
.navbar #myDropdownUser {
  position: absolute;
  margin-top: 0.5rem;
  left: -0.6rem;
  height: 2.5rem;
  width: 6rem;
  background-color: var(--white-color);
}
.navbar #myDropdownUser a {
  display: block;
  text-align: center;
  margin-top: -5px;
}
.navbar #myDropdownUser:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: var(--white-color) transparent;
}

#user-logged > #myDropdownUser {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

#user-logged:hover > #myDropdownUser {
  visibility: visible;
  opacity: 1;
}

.nav-item {
  height: 65px;
  position: relative;
  bottom: 5px;
}
.nav-item a {
  display: inline-block;
  position: relative;
  top: 13px;
  color: var(--title-color);
}

#nav1, #nav2, #nav3, #nav4, #nav5, #nav6 {
  position: relative;
  right: 1%;
}

/*margin-bottom: -20px;*/
/*height: 76px;*/
#content-wrap {
  padding-top: var(--header-height);
  padding-bottom: 1rem;
}

.main {
  margin: auto;
  margin-bottom: 3vw;
  background-color: var(--white-color);
  border-radius: 10px;
  max-width: 70vw;
  min-width: 10vw;
  /*height: 1500px;*/ /* Used in this example to enable scrolling */
}
.main .to-log-form-group {
  width: 80%;
  margin: 1rem auto;
}
.main .to-log-form-group input {
  height: 3rem;
}
.main .to-log-form-group label {
  margin: 3.5px 5px;
}
.main form:first-child {
  padding-top: 0.5rem;
}
.main .btn {
  margin: 1rem 10%;
  width: 80%;
  height: 3rem;
}
.main form a {
  display: block;
  padding-bottom: 1.5rem;
  text-align: center;
}
.main .form-group {
  margin: 0.75rem;
  margin-bottom: 1rem;
}
.main #answer {
  margin: 0 0.72rem;
}
.main #auction_comments .btn {
  display: block;
  font-size: smaller;
  max-width: 7rem;
  max-height: 4rem;
  margin-left: auto;
  margin-right: 3%;
}

#login, #register {
  width: 50%;
  max-width: 26.5rem;
}

.borders {
  border-bottom: solid var(--gray-color-2);
}

#listing_auction {
  font-family: var(--font);
  /*background-color: aqua;*/
  color: var(--text-color);
  /*text-align: center;*/
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

#auction_name {
  font-weight: bold;
  /*margin-left: -30%;*/
}

#auction_data {
  /*margin-right: -250%;*/
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
#auction_data #order-column {
  width: 100%;
}
#auction_data .btn, #auction_data .form-control {
  max-width: 15rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

#auction_description {
  padding: 0.5rem;
  line-height: 70%;
}

#auction_category {
  padding: 0.5rem;
}
#auction_category h5 {
  display: inline;
}

#auction_comments {
  padding: 0.5rem;
}

#auction_image img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}

#article_image img {
  height: 35vw;
  width: 35vw;
  -o-object-fit: contain;
     object-fit: contain;
}

#auction_price {
  font-weight: bold;
}

#bid_price {
  font-weight: bold;
  color: red;
}

#in_watchlist {
  /*color: blue;*/
  background-color: blue;
}

#out_watchlist {
  background-color: white;
  color: blue;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#myDIV {
  background-color: white;
  color: blue;
  position: static;
}

#myDIV:hover + .hide {
  display: block;
  color: red;
}

.window-notice {
  background: var(--text-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}
.window-notice .content {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, 0.75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  min-width: 220px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}
.window-notice .content-text {
  color: rgb(105, 105, 105);
}
.window-notice .content-buttons {
  margin-left: 90%;
  margin-top: 3%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--gray-dark-color);
  color: var(--second-color);
  font-family: var(--font);
  width: 100%;
  height: var(--footer-height);
  text-align: center;
}
footer div {
  padding-top: 5px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */