/* *************** Custom Properties *************** */
:root {
  --first-color: #FFDB15;
  --first-alpha-color: rgba(255, 219, 21, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #0D00A5;
  --third-alpha-color: rgba(13, 0, 165, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-color-2: rgb(240, 240, 240);
  --gray-dark-color: rgb(190, 190, 190);
  --black-color: #000;
  --link: #509ee3;
  --link-hover: rgb(3, 87, 215, 1);
  --link-pressing: rgb(0, 65, 164, 1);
  --link-light: rgb(52, 131, 250, 0.50);
  --link-light-hover: rgb(190, 190, 190, 0.50);
  --link-light-pressing: rgb(190, 190, 190, 0.50);
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Roboto", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  --footer-height: 2rem;
  --services-card-separation: 0.5vw;
}

/* *************** Reset *************** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  /* overflow-y:hidden; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2.9rem;
}

/* *************** Components *************** */
body {
  background-color: var(--gray-color-2);
}

.nav {
  /*background-color: #333;    */
  background-color: var(--first-color);
  color: var(-white-color);
  padding-left: 3%;
  font-family: var(--font);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 111;
  /*margin-bottom: 200px;*/
  /*text-align: left;*/
}
.nav h1 {
  position: relative;
  bottom: 5px;
}

.navbar {
  /*background-color: #333;    */
  color: white;
  font-family: var(--font);
  position: relative;
  top: 0;
  width: 100%;
  height: 65px;
  /*margin-bottom: 200px;*/
  /*text-align: left;*/
}

.nav-item {
  height: 65px;
  position: relative;
  bottom: 5px;
}
.nav-item a {
  display: inline-block;
  position: relative;
  top: 13px;
  color: var(--title-color);
}

#nav1, #nav2, #nav3, #nav4, #nav5, #nav6 {
  position: relative;
  right: 1%;
}

/*margin-bottom: -20px;*/
/*height: 76px;*/
.main {
  margin-top: calc(var(--header-height) + 1.5rem);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1.5rem;
  background-color: white;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 3rem);
  /*height: 1500px;*/ /* Used in this example to enable scrolling */
}

.borders {
  border-bottom: solid var(--gray-color-2);
}

#listing_auction {
  font-family: var(--font);
  /*background-color: aqua;*/
  color: var(--text-color);
  /*text-align: center;*/
  width: 100%;
}

.form-group {
  width: 30%;
}

#auction_name {
  font-size: 35px;
  font-weight: bold;
  /*margin-left: -30%;*/
  text-align: center;
}

#auction_data {
  float: left;
  /*margin-right: -250%;*/
  margin-top: 5%;
  width: 40%;
}

#auction_description {
  margin: 0;
}

#auction_image {
  margin-left: 44%;
}

#auction_price {
  font-weight: bold;
}

#bid_price {
  font-weight: bold;
  color: red;
}

#in_watchlist {
  /*color: blue;*/
  background-color: blue;
}

#out_watchlist {
  background-color: white;
  color: blue;
}

.hide {
  display: none;
}

#myDIV {
  background-color: white;
  color: blue;
  position: static;
}

#myDIV:hover + .hide {
  display: block;
  color: red;
}

.window-notice {
  background: var(--text-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}
.window-notice .content {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, 0.75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  min-width: 220px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}
.window-notice .content-text {
  color: rgb(105, 105, 105);
}
.window-notice .content-buttons {
  margin-left: 90%;
  margin-top: 3%;
}

#comment {
  font-size: 110%;
  font-weight: bold;
  border-style: groove;
}
#comment a {
  font-size: 90%;
  font-weight: normal;
}

footer {
  background-color: var(--gray-dark-color);
  color: white;
  font-family: var(--font);
  width: 100%;
  height: var(--footer-height);
}
footer div {
  color: white;
  font-family: initial;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */