/* *************** Custom Properties *************** */
:root {
  --first-color: #FFDB15;
  --first-alpha-color: rgba(255, 219, 21, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #0D00A5;
  --third-alpha-color: rgba(13, 0, 165, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-color-2: rgb(240, 240, 240);
  --gray-dark-color: rgb(190, 190, 190);
  --black-color: #000;
  --link-color: #509ee3;
  --link-hover: rgb(3, 87, 215, 1);
  --link-pressing: rgb(0, 65, 164, 1);
  --link-light: rgb(52, 131, 250, 0.50);
  --link-light-hover: rgb(3, 87, 215, 0.50);
  --link-light-pressing: rgb(190, 190, 190, 0.50);
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.3);
  --black-alpha-color2: rgba(0, 0, 0, 0.5);
  --green-color: rgba(54, 255, 74, 1);
  --green-light-color: rgb(116, 255, 130, .5);
  --green-dark-color: rgb(27, 133, 37);
  --red-color: rgb(255, 47, 47, 1);
  --red-color-hover: rgba(255, 77, 77, 1);
  --red-color-pressing: rgb(255, 17, 17, 1);
  --font: "Roboto", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  --footer-height: 2rem;
  --services-card-separation: 0.5vw;
}

/* *************** Reset *************** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
html body {
  background-color: var(--gray-color-2);
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
}
html body .sub {
  height: 4rem;
  padding-left: 10%;
}
html body .sub h2 {
  padding-top: 0.75rem;
}
html body #sub-not-logged {
  padding-left: 37%;
}
html a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}
html a:hover {
  text-decoration: none;
  color: var(--link-hover);
}
html a:active {
  color: var(--link-light-pressing);
}
html h1 {
  margin: 0;
  font-size: 2.9rem;
}
html h2 {
  margin: 0;
  font-size: 2rem;
}
html h4 {
  margin: 0;
}
html div {
  height: auto;
  word-wrap: break-word;
}
html .btn {
  font-weight: bold;
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html input[type=number] {
  -moz-appearance: textfield;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* *************** Components *************** */
#header {
  background-color: var(--first-color);
  padding-left: 3%;
  font-family: var(--font);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 111;
}
#header .navbar {
  font-family: var(--font);
  position: relative;
  top: 0;
  width: 95%;
  height: var(--header-height);
}
#header .navbar .nav-link {
  font-size: larger;
  padding-top: 0.3rem;
}
#header .navbar #user-logged {
  position: relative;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
}
#header .navbar #myDropdownUser {
  position: absolute;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  left: -1.7rem;
  background-color: var(--title-color);
  border-radius: 4px;
}
#header .navbar #myDropdownUser ul {
  position: static;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#header .navbar #myDropdownUser a {
  position: static;
  display: block;
}
#header .navbar #myDropdownUser a li {
  position: static;
  height: 2.5rem;
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
  padding: 0.5rem;
}
#header .navbar #myDropdownUser a:hover {
  cursor: pointer;
  background-color: var(--link-light);
}
#header .navbar #myDropdownUser a:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#header .navbar #myDropdownUser a:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#header .navbar #myDropdownUser:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: var(--title-color) transparent;
}
#header .navbar #myDropdownCategories {
  position: absolute;
  margin-top: 1.2rem;
  left: -1.7rem;
  width: 10rem;
  background-color: var(--title-color);
  border-radius: 4px;
}
#header .navbar #myDropdownCategories ul {
  position: static;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#header .navbar #myDropdownCategories a {
  position: static;
  display: block;
}
#header .navbar #myDropdownCategories a li {
  position: static;
  height: 2.5rem;
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
  padding: 0.5rem;
}
#header .navbar #myDropdownCategories a:hover {
  cursor: pointer;
  background-color: var(--link-light);
}
#header .navbar #myDropdownCategories a:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#header .navbar #myDropdownCategories a:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#header .navbar #myDropdownCategories:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: var(--title-color) transparent;
}
#header #user-logged > #myDropdownUser {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}
#header #user-logged:hover > #myDropdownUser {
  visibility: visible;
  opacity: 1;
}
#header #id_categories > #myDropdownCategories {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}
#header #id_categories:hover > #myDropdownCategories {
  visibility: visible;
  opacity: 1;
}
#header .nav-item {
  height: 65px;
  position: relative;
  bottom: 5px;
}
#header .nav-item a {
  display: inline-block;
  position: relative;
  top: 13px;
  color: var(--title-color);
}
#header #nav1, #header #nav2, #header #nav3, #header #nav4, #header #nav5, #header #nav6 {
  position: relative;
  right: 1%;
}

#content-wrap {
  padding-top: var(--header-height);
  padding-bottom: 1rem;
}

.main {
  margin: auto;
  margin-bottom: 3vw;
  background-color: var(--white-color);
  border-radius: 10px;
  max-width: 55vw;
  min-width: 45rem;
}
.main .to-log-form-group {
  width: 80%;
  margin: 1rem auto;
}
.main .to-log-form-group > input, .main .to-log-form-group .multiselect-dropdown {
  height: 3rem;
  margin: 0;
}
.main .to-log-form-group label {
  margin: 3.5px 5px;
}
.main .to-log-form-group #glosaArchivos {
  display: block;
  margin: auto;
  text-align: center;
}
.main .to-log-form-group .multiselect-dropdown-list {
  height: 7rem !important;
}
.main form:first-child {
  padding-top: 0.5rem;
}
.main .btn {
  margin: 1rem 10%;
  width: 80%;
  height: 3rem;
}
.main form a {
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
}
.main .form-group {
  margin: 0.75rem;
  margin-bottom: 1rem;
}
.main .form {
  padding-top: 0.1rem !important;
  padding-bottom: 1rem !important;
}
.main .form #input {
  display: none;
  margin: 0 auto;
}
.main .form label.btn {
  width: 100%;
  margin: 1.7rem 0;
}
.main .form #display-image-environment {
  height: 10vw;
  width: 10vw;
  outline: dotted 1px var(--link-color);
  margin: auto;
  margin-top: 1rem;
}
.main .form #display-image-environment #display-image {
  display: none;
  height: 10vw;
  width: 10vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .form #display-image-environment #button_image {
  display: block;
  height: 10vw;
  width: 10vw;
  margin: 0;
  padding: 0;
  color: var(--black-color);
  background-color: transparent;
  border: none;
}
.main .form #display-image-environment #button_image p {
  font-size: 1.5vw;
  display: block;
  padding-top: 10%;
  overflow: hidden;
  white-space: nowrap;
}
.main .form #display-image-environment #button_image p svg {
  width: 2vw;
  height: 2vw;
}
.main #accept {
  margin-top: 0;
}
.main #answer {
  margin: 0 0.72rem;
}
.main #auction_comments .btn {
  display: block;
  font-size: smaller;
  max-width: 7rem;
  max-height: 4rem;
  margin-left: auto;
  margin-right: 3%;
}

.modal-alert {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-alpha-color);
  z-index: 900;
}
.modal-alert .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  width: 25vw;
  max-width: 20rem;
  margin: 25vh auto;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.modal-alert .modal-body h5, .modal-alert .modal-body p {
  text-align: center;
  margin: 0;
}
.modal-alert .modal-body .btn {
  display: block;
  margin: 0.5rem auto;
}
.modal-alert .modal-body #modal_back {
  background-color: var(--red-color);
  border: none;
}
.modal-alert .modal-body #modal_back:hover {
  background-color: var(--red-color-hover);
}
.modal-alert .modal-body #modal_back:active {
  background-color: var(--red-color-pressing);
}

.flex-horizontal {
  display: flex;
  gap: 0.5rem;
}

#login, #register, #id_create_listing, #create_comment {
  max-width: 35rem;
  min-width: 25rem;
}

.borders {
  border-bottom: solid var(--gray-color-2);
}

#listing_auction {
  font-family: var(--font);
  color: var(--text-color);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
#listing_auction b {
  display: block;
  margin: auto;
}

#listing_watchlist {
  font-size: 140%;
  padding: 0.5rem;
}
#listing_watchlist #auction_category {
  font-size: 60%;
  margin: auto;
  padding: 0;
}

#auction_name {
  font-weight: bold;
}

#auction_data {
  padding: 1rem 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}
#auction_data .img-magnifier-container {
  position: relative;
}
#auction_data .img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 10%;
  background-color: var(--white-color);
  width: 250px;
  height: 250px;
}
#auction_data .btn, #auction_data .form-control {
  max-width: 15rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
#auction_data #new_bid {
  width: 20vw;
  min-width: 5rem;
  max-width: 12.8rem;
  height: 3rem;
  margin: 1rem;
  padding: 6px 12px;
}

textarea {
  min-height: 4rem;
}

#auction_description {
  padding: 0.5rem;
}

#auction_category {
  padding: 0.5rem;
}
#auction_category h5 {
  display: inline;
}

.multiselect-dropdown {
  display: block !important;
  margin: auto !important;
  width: 100% !important;
}
.multiselect-dropdown .optext {
  margin: 0.5rem 0.1rem !important;
}

#auction_comments {
  padding: 0.5rem;
}

#auction_image img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}

#article_image {
  cursor: zoom-in;
}
#article_image img {
  height: 21rem;
  width: 21rem;
  -o-object-fit: contain;
     object-fit: contain;
}

#auction_price, #sold_price {
  margin-bottom: 0.5rem;
}

#bid_price {
  font-weight: bold;
  color: var(--red-color);
}

#in_watchlist {
  background-color: blue;
  box-shadow: none !important;
}

#in_watchlist:before {
  content: "In Watchlist";
}

#out_watchlist {
  background-color: white;
  color: blue;
  box-shadow: none !important;
}

#out_watchlist:before {
  content: "Add to Watchlist";
}

#auction_winner {
  color: var(--green-dark-color);
  border: solid var(--green-dark-color);
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--green-light-color);
  text-align: center;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

#myDIV {
  background-color: white;
  color: blue;
  position: static;
}

#add_watchlist_warning {
  position: absolute;
  margin-top: -15px;
  margin-left: -25px;
}

#comment_warning {
  margin-top: -40px;
}

.notlogged_warning {
  color: red;
}

#myDIV:hover + .notlogged_warning {
  display: block !important;
}

.window-notice {
  background: var(--text-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}
.window-notice .content {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, 0.75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  min-width: 220px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}
.window-notice .content-text {
  color: rgb(105, 105, 105);
}
.window-notice .content-buttons {
  margin-left: 90%;
  margin-top: 3%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--gray-dark-color);
  color: var(--second-color);
  font-family: var(--font);
  width: 100%;
  height: var(--footer-height);
  text-align: center;
}
footer div {
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: var(--gray-color2);
  grid-gap: 10px;
  outline: 10px solid var(--gray-color-2);
  border-radius: 10px;
}

.grid-item {
  background-color: var(--white-color);
  outline: 10px solid var(--gray-color-2);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: space-evenly;
}

#watch_list_main {
  background-color: transparent;
}

#app {
  width: 100%;
  text-align: center;
}
#app #problem {
  font-size: 57px;
}
#app input {
  display: block;
  margin: auto;
}
#app .incorrect {
  color: red;
}/*# sourceMappingURL=styles.css.map */