/* *************** Custom Properties *************** */
:root {
    --first-color: #FFDB15;
    --first-alpha-color: rgba(255, 219, 21, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #0D00A5;
    --third-alpha-color: rgba(13, 0, 165, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-color-2: rgb(240, 240, 240);
    --gray-dark-color: rgb(190, 190, 190);
    --black-color: #000;
    --link-color: #509ee3;
    --link-hover: rgb(3, 87, 215, 1);
    --link-pressing: rgb(0, 65, 164, 1);
    --link-light: rgb(52, 131, 250, 0.50);
    --link-light-hover: rgb(3, 87, 215, 0.50);
    --link-light-pressing: rgb(190, 190, 190, 0.50);
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.3);
    --black-alpha-color2: rgba(0, 0, 0, 0.5);
    --green-color: rgba(54, 255, 74, 1);
    --red-color: rgb(255, 47, 47, 1);
    --red-color-hover: rgba(255, 77, 77, 1);
    --red-color-pressing: rgb(255, 17, 17, 1);
    --font: "Roboto", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
    --footer-height: 2rem;
    --services-card-separation: 0.5vw;
  }
  
  
/* *************** Reset *************** */

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
    /* overflow-y:hidden; */
    
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    background-color:  var(--gray-color-2);
    margin: 0;
    // margin-top: var(--header-height);
    overflow-x: hidden;
    overflow-y:overlay;
    color: var(--text-color);
    position: relative;
    // min-height: calc(100vh - var(--header-height));
    min-height: 100vh;
    .sub{
        height: 4rem;
        padding-left: 10%;
        // margin-bottom: 0.5rem;
        h2{
            padding-top:0.75rem;
        }
    }
    #sub-not-logged{
        padding-left: 37%;
        // text-align: center;
    }

  }
  
  a{
    // font-weight: bold;
    color: var(--link-color);
    transition: all 0.5s ease-out;
  }
  li{
    // font-weight: bold;
    // color: var(--link-color);
  }
  
  a:hover {
    text-decoration: none;
    // opacity: 0.75;
    color: var(--link-hover);
  }
  a:active{
    color: var(--link-light-pressing);
  }
  h1 {
    margin: 0;
    font-size: 2.9rem;
  }
  
  h2 {
    margin: 0;
    font-size: 2rem;
  }
  
//   h3 {
//     margin: 0;
//     font-size: 1.5rem;
//   }
  
//   h4 {
//     margin: 0;
//     font-size: 1.25rem;
//   }
  
//   h5 {
//     margin: 0;
//     font-size: 1rem;
//   }
  
//   h6 {
//     margin: 0;
//     font-size: 0.85rem;
//   }
  
//   img {
//     max-width: 100%;
//     height: auto;
//   }
  
//   p {
//     line-height: 1.6;
//     font-size: 1.3rem;
//   }
div{
    height: auto;
    word-wrap: break-word;
}
.btn{
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* *************** Components *************** */

// $blue_color:  rgb(25, 52, 87);
// $gray_color: rgb(194, 191, 191);



.nav {
    /*background-color: #333;    */
    background-color: var(--first-color);
    // color: var(-white-color);
    // margin: 0 0 -20px -10px ;
    padding-left: 3%;
    // font-family: initial;
    font-family: var(--font);
    position:fixed;
    top: 0;
    width: 100%;
    // height: 65px;
    height: var(--header-height);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:111;
    /*margin-bottom: 200px;*/
    /*text-align: left;*/
    // h1{
        // position: relative;
        // bottom:  5px;
    // }
}
.navbar {
    /*background-color: #333;    */
    // color: white;
    // margin: 0 0 -20px -10px ;
    // margin: 0 0 -20px -10px ;
    // padding-left: 3%;
    // font-family: initial;
    font-family: var(--font);
    position:relative;
    top: 0;
    width: 95%;
    // height: 65px;
    height: var(--header-height);
    /*margin-bottom: 200px;*/
    /*text-align: left;*/
  
    // img{
        // align-self: start;
        // position:absolute;
        // top:0;
        // padding-bottom: 20px;
    
    // }
    .nav-link{
        font-size: larger;
        padding-top:.3rem;
    }
    #user-logged{
        position:relative;
        cursor: pointer;
        height: 100%;
        padding-top: 20px;
    }
    


    
    #myDropdownUser {
        position:absolute;
        margin-top: .5rem;
        // left: -.6rem;
        height: 2.5rem;
        width: 6rem;
        // margin-top: 1.2rem;
        left: -1.7rem;
        // background-color: var(--white-color);
        // background-color: var(--black-color);
        background-color: var(--title-color); 
        // background-color: var(--second-alpha-color); 
        border-radius: 4px;
        ul {
            position:static;
            list-style-type: none;
            padding:0;
            margin:0;
        }
        a{
            position:static;
            display: block;
            // text-align: center;
            // margin-top: -5px;
            li{
            position:static;
            height: 2.5rem;
            color: var(--white-color);
            font-weight: bold;
            text-align: center;
            transition: all 0.3s ease-out;
            padding: .5rem;
            }
        }
        a:hover{
            cursor: pointer;
            // background-color: var(--link-pressing);
            background-color: var(--link-light);
        }
        a:first-child:hover{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        a:last-child:hover{
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    #myDropdownUser:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 13px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        // border-color: rgba(0,0,0,1) transparent; 
        // border-color: var(--black-color) transparent;   
        // border-color: var(--first-alpha-color) transparent;   
        border-color: var(--title-color) transparent; 
    }

    
    #myDropdownCategories {
        position:absolute;
        margin-top: 1.2rem;
        left: -1.7rem;
        // height: 2.5rem;
        // height: 100%;
        width: 10rem;
        // background-color: var(--white-color);
        // background-color: var(--black-color);
        // background-color: var(--first-alpha-color);
        background-color: var(--title-color); 
        border-radius: 4px;
        // a{
        //     display: block;
        //     text-align: center;
        //     margin-top: -5px;
        // }
        ul {
            position:static;
            list-style-type: none;
            padding:0;
            margin:0;
        }
        a{
            position:static;
            display: block;
            li{
            position:static;
            height: 2.5rem;
            color: var(--white-color);
            // color: var(--black-color);
            font-weight: bold;
            text-align: center;
            transition: all 0.3s ease-out;
            padding: .5rem;
            }
        }
        a:hover{
            cursor: pointer;
            // background-color: var(--link-pressing);
            background-color: var(--link-light);
            // background-color: var(--gray-light-color);
        }
        a:first-child:hover{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        a:last-child:hover{
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    #myDropdownCategories:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 13px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        // border-color: rgba(0,0,0,1) transparent; 
        // border-color: var(--black-color) transparent;
        // border-color: var(--first-alpha-color) transparent;
        border-color: var(--title-color) transparent;  
        // background-color: var(--black-color);   
    }
}

#user-logged > #myDropdownUser {
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.2s linear;
}

#user-logged:hover > #myDropdownUser{
visibility: visible;
opacity: 1;
}


#id_categories > #myDropdownCategories {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

#id_categories:hover > #myDropdownCategories{
    visibility: visible;
    opacity: 1;
}




.nav-item{
    height: 65px;
    position: relative;
    // bottom: 8px;
    bottom: 5px;
    a{
        display: inline-block;
        position: relative;
        top: 13px;
        // color: $gray_color;
        color:  var(--title-color)
    }
}
#nav1,#nav2, #nav3, #nav4, #nav5, #nav6{
    position: relative;
    right: 1%;
}
#nav5, #nav6{
    // position: absolute;
    // position:fixed;
    // right:0;
}
// .nav-item:hover {
    // background-color:  $blue_color;
    // background-color:  var(--text-color);
    /*margin-bottom: -20px;*/
    /*height: 76px;*/
// }
#content-wrap{
    padding-top: var(--header-height);
    padding-bottom: 1rem;
}
.main {
    // padding: 16px 16px 11% 16px;
    // padding: 16px 0 11% 0;
    // margin-top: calc(var(--header-height) + 1.5rem);
    // margin-left:10%;
    // margin-right:10%;
    margin:auto;
    margin-bottom:3vw;
    // margin-bottom: calc(100vh - var(--header-height) - 50.5rem - var(--footer-height));
    // padding: 1.5rem;
    // padding-bottom: var(--footer-height);
    // margin-bottom: 6rem;
    // margin-bottom: var(--footer-height);
    background-color:  var(--white-color);
    border-radius: 10px;
    // min-height: calc(100vh - var(--header-height) - 5.5rem - var(--footer-height));

    max-width: 55vw;
    // min-width: 10%;
    min-width: 740px;
    /*height: 1500px;*//* Used in this example to enable scrolling */
    .to-log-form-group{

        width: 80%;
        margin: 1rem auto ;
        >input, .multiselect-dropdown{
            height: 3rem;
            margin:0;
            // }
        }
        label{
            margin: 3.5px 5px;
            // margin-left: 5px;
        }
        #glosaArchivos{
            display: block;
            margin: auto;
            text-align: center;
        }
        .multiselect-dropdown-list{
            height: 7rem !important;
        }
    }
    form:first-child{
        padding-top: .5rem;
    }
    .btn{
        margin: 1rem 10%;
        width: 80%;
        height: 3rem;
        // align-content: center;
    }
    form a{
        display:block ;
        // or display:inline-block.
        // padding-top: 1rem;
        // padding-bottom: 1.5rem;
        padding-bottom: .5rem;
        text-align: center;
    }
    
    .form-group {
        // width: 90%;
        margin: .75rem;
        margin-bottom: 1rem;
    }
    .form{
        padding-top: 0.1rem !important;
        padding-bottom: 1rem !important;
        #input{
            display: none;
            margin: 0 auto;
        }
        label.btn{
            // background-color: red;
            width: 100%;
            margin: 1.7rem 0;
        }
        #display-image-environment{
            
            // height: calc(10vw + 2px);
            // width: calc(10vw + 2px);
            height: 10vw;
            width: 10vw;
            outline: dotted 1px var(--link-color);
            // border-inline: ;
            // padding:10px;
            margin:  auto;
            margin-top: 1rem;
            // background-color: none !important;
            #display-image{
                display: none;
                // margin: 0.1px;
                height: 10vw;
                width: 10vw;
                object-fit: contain;
                // margin:auto;
                // background-color: none !important;
                
    
            }
            
            #button_image{
                display:block;
                height: 10vw ;
                width: 10vw ;
                margin:0 ;
                padding:0;
                color: var(--black-color);
                background-color: transparent;
                // outline: none;
                border: none;
                // z-index: 999;
                p{
                    font-size: 1.5vw;
                    display: block;
                    // margin: 10%;
                    // height: 70% ;
                    // width: 70% ;
                    padding-top: 10%;
                    overflow: hidden;
                    white-space: nowrap;

                    // text-align: center;
                    // outline:none;
                    svg{
                        width:2vw;
                        height: 2vw;
                    }
                }
            }
        }
    }
    #accept{
        margin-top:0;
    }
    #answer{
        // color: red;
        margin: 0 0.72rem;
    }
    #auction_comments .btn{
        display: block;
        font-size: smaller;
        max-width: 7rem;
        max-height: 4rem;
        margin-left:auto;
        margin-right:3%;
    }
}
.modal-alert{
    // display: none;
    position:absolute;
    top:0;
    right:0;
    width:100vw;
    height: 100vh;
    background-color: var(--black-alpha-color);
    z-index: 900;

    .modal-body{
        // position:static;
//   position: absolute;
//   top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: .5rem;
        border-radius: .5rem;
        background-color: var(--white-color);
        width: 25vw;
        max-width: 20rem;
        // height: 20vh;
        margin: 25vh auto;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
        // align-items: center;
        h5, p{
            text-align: center;
            margin: 0;
        }
        .btn{
            display: block;
            margin: .5rem auto;
        }
        #modal_back{
            background-color: var(--red-color);
            border:none;
        }
        #modal_back:hover{
            background-color: var(--red-color-hover);
        }
        #modal_back:active{
            background-color: var(--red-color-pressing);
        }
        // #modal_save{
            // background-color: var(--green-color);
            // border:none;
        // }
    }

}
.flex-horizontal{
    display: flex;
    gap: .5rem;

}
// #create_bid, #create_comment, #category{
    // padding-bottom: 28%;
// }
#login, #register, #id_create_listing, #create_comment{
    width: 50%;
    max-width: 26.5rem;
}
.borders{
    // border-bottom: thick dotted $gray_color;
    // border-bottom: thick dotted var(--gray-color);
    border-bottom: solid var(--gray-color-2);
}
#listing_auction{
    // font-family: 'Courier New', Courier, monospace;
    font-family: var(--font);
    /*background-color: aqua;*/
    // color: $blue_color; 
    color: var(--text-color); 
    /*text-align: center;*/
    width:100%;
    
    // padding: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;

    b{
        display: block;
        margin:auto;
    }
}
#listing_watchlist{
    font-size: 140%;
    padding: .5rem;

    #auction_category{
        font-size: 60%;
        margin: auto;
        padding: 0;
    }
}
#auction_name{ 
    // font-size: 35px;
    font-weight: bold;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // max-width: 100%;
    /*margin-left: -30%;*/
    // text-align: center;
}
#auction_data{
    // float:left;
    /*margin-right: -250%;*/
    // margin-top: 5%;
    // width:40%;
    // padding: 1rem 0.5rem;
    padding: 1rem 2vw;
    // padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;

    .img-magnifier-container {
        position:relative;
    }
      
    .img-magnifier-glass {
        position: absolute;
        border: 3px solid #000;
        border-radius: 10%;
        //   cursor: none;
        /*Set the size of the magnifier glass:*/
        width: 250px;
        height: 250px;
        //   display: none;
    }

    #order-column{
        // width:100%;
    }
    .btn, .form-control{
        max-width: 15rem;
        margin-top: 1rem;
        margin-left: 1rem;
        // display: block;
    }
    #new_bid{
        width: 20vw;
        min-width: 5rem;
        max-width: 12.8rem;
        height:3rem;
        margin: 1rem;
        padding: 6px 12px;
    }
}
textarea{
    min-height: 4rem;
}
#auction_description{
    padding: 0.5rem;
    // line-height: 70%;
}
#auction_category{
    padding: 0.5rem;
    // width: 106%;
    // margin:100px;
    h5{display: inline;
    }
}

.multiselect-dropdown{
    display: block !important;
    margin:auto !important;
    width: 100% !important;
    .optext{
        margin: .5rem 0.1rem !important;
    }
}
#auction_comments{
    padding: 0.5rem;
}
#auction_image{
    // margin-left: 44%;

    img{
        height: 10rem;
        width: 10rem;
        object-fit: contain;
    }
}
#article_image{
    // margin-left: 44%;
    cursor: zoom-in;

    img{
        // height: 20vw;
        // width: 20vw;
        // min-height: 17rem;
        // min-width: 17rem;
        height: 21rem;
        width: 21rem;
        // max-height: 21rem;
        // max-width: 21rem;


        object-fit: contain;
    }
}
#auction_price{
    font-weight: bold;
}
#bid_price{
    font-weight: bold;
    // color: red;
    color: var(--red-color)
}
#in_watchlist{
    /*color: blue;*/
    background-color: blue;
    box-shadow: none !important;
}
#in_watchlist:before{
    content:"In Watchlist";
}
#out_watchlist{
    background-color: white;
    color: blue;
    box-shadow: none !important;
}
#out_watchlist:before{
    content: "Add to Watchlist";
}

.hide {
    display: none !important;
}
.show {
    display: block !important;
}
#myDIV{
    background-color: white;
    color: blue;
    position:static;
  
}
#myDIV:hover + .hide {
    display: block;
    color: red;
  }

.window-notice {
    // background:$blue_color;
    background:var(--text-color);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    .content {
        background: rgb(255, 255, 255);
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 400px;
        min-width: 220px !important;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 2rem;
        font-size: 1.3rem;
    }
    .content-text {
        color: rgb(105, 105, 105);
    }
    .content-buttons {
        margin-left: 90%;
        margin-top: 3%;
    }
}

#comment{

    // font-size: 110%;
    // font-weight: bold;
    // border-style:groove;
    a{
        // font-size: 90%;
        // font-weight: normal;
    }
}

footer {
    // background-color: rgb(11, 33, 61);
    position: absolute;
    bottom: 0;
    background-color: var(--gray-dark-color);
    // color: white;
    color: var(--second-color);
    // font-family: initial;
    font-family: var(--font);
    // width: 101.5%;
    width: 100%;
    // height: 25px;
    height: var(--footer-height);
    // margin: 0 -9% -1% -0.8%;
    // margin: 0 -9% -1% -0.8%;
    // position: relative;
    // position: absolute;
    // bottom:0;
    text-align: center;
    // margin:  auto;
    div{
        // background-color: rgb(11, 33, 61);
        // color: white;
        // font-family: initial;
        padding-top:  5px;
        // height: 100%;
        // height: var(--footer-height);
        // height: 40px;
        // position: absolute;
        // top: 50%;
        text-align: center;
        // font-size: 18px;
        width:100%;
        // gap: 0;
    }
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: var(--gray-color2);
    // padding:20px;
    // padding: 10px;
    // box-sizing: border-box;
    // grid-gap:0;
    // overflow: auto;
    grid-gap: 10px;
    outline: 10px solid var(--gray-color-2);
    border-radius: 10px;
    // border-top: 1px solid var(--gray-color-2);
    // border-left: 1px solid var(--gray-color-2);


}
.grid-item{
    background-color: var(--white-color);
    // border: 1px solid var(--gray-color-2);
    // border-collapse: collapse;
    outline: 10px solid var(--gray-color-2);
    // border-right: 3px solid var(--gray-color-2);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    // box-shadow:0;
    display:flex;
    flex-direction: column;
    gap: .7rem;
    justify-content: space-evenly;

}

#watch_list_main{
    background-color: transparent;
}

#app{
    width: 100%;
    text-align: center;
    #problem{
        font-size: 57px;
    }
    input{
        display: block;
        margin: auto;
    }
    .incorrect{
        color:red;
    }
    
}


* {box-sizing: border-box;}

